In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Mall_Customers.csv')

# Display first 5 rows
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [2]:
# Summary of the dataset
df.info()

# Check for missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [3]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)
print("Duplicates removed successfully!")

Duplicates removed successfully!

In [4]:
# Standardize Gender column
df['Gender'] = df['Gender'].str.strip().str.capitalize()

# Verify changes
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [5]:
# Clean column names: lowercase and replace spaces with underscores
df.columns = df.columns.str.lower().str.replace(' ', '_')

# Display updated column names
df.columns

Index(['customerid', 'gender', 'age', 'annual_income_(k$)',
       'spending_score_(1-100)'],
      dtype='object')

In [10]:
# Clean column names
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('[^a-zA-Z0-9_]', '', regex=True)

# Convert data types
df['age'] = df['age'].astype(int)
df['annual_income_k'] = pd.to_numeric(df['annual_income_k'], errors='coerce')
df['spending_score_1100'] = pd.to_numeric(df['spending_score_1100'], errors='coerce')

# Verify
df.dtypes

customerid              int64
gender                 object
age                     int64
annual_income_k         int64
spending_score_1100     int64
dtype: object

In [11]:
df.isnull().sum()

customerid             0
gender                 0
age                    0
annual_income_k        0
spending_score_1100    0
dtype: int64

In [12]:
df.to_csv('cleaned_dataset.csv', index=False)
print("Cleaned dataset saved as 'cleaned_dataset.csv'")

Cleaned dataset saved as 'cleaned_dataset.csv'